body {
    background-image:url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.elo7.com.br%2Fquadro-pintura-tela-paris-moderno-90x160cm-montado-pronto%2Fdp%2FBD1BD2&psig=AOvVaw3Q4hcnJU0id1JqWljEGQT5&ust=1683471098409000&source=images&cd=vfe&ved=0CA4QjRxqFwoTCJiW59v44P4CFQAAAAAdAAAAABAD');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:100%;
    background-color: #000;
    color: black;
    text-align: center;
    top: 0;
}
#principal {
	width: 900px; /*Definição de largura padrão*/
}

#menu {/*Formatação do menu*/
	background: #EE82EE;
	/*border: 1px solid red; Borda sólida na div*/
	padding: 18px; display: flex /*Espaçamento interna div*/
}

#conteudo {
	background: #8B008B;
	padding: 10px;
}

}
#rodape {
	text-align: center;
	color: #FFFFFF;
}
#sobre a galeria {
	background: #8B008B;
	padding: 10px;
.img-campanha {
	border: 10px solid #868A08;
}
#exposições {
	background: #8B008B;
	padding: 10px;
.img-campanha {
	border: 10px solid #868A08;
}
#vendas {
	background: #8B008B;
	padding: 10px;
.img-campanha {
	border: 10px solid #868A08;
}
#contato {
	background: #8B008B;
	padding: 10px;
.img-campanha {
	border: 10px solid #868A08;
}
#pedidos excusivos {
	background: #8B008B;
	padding: 10px;
.img-campanha {
	border: 10px solid #868A08;	
}
#artistas {
	background: #8B008B;
	padding: 10px;
.img-campanha {
	border: 10px solid #868A08;	
}
#slides{
	background: #8B008B;
	padding: 10px;
.img-campanha {
	border: 10px solid #868A08;	
				
	a { /*Formatação dos links*/
	color: #4b566a;
	text-decoration: none;
	font-weight: bold;
	padding: 5px;
}

h1 {
	color: #828271;
	font-size: 1.2em;
}
h3 {
	color: #828271;
	font-size: 1.2em;
	}
h4 {
	color: #828271;
	font-size: 1.2em;
}
